* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  
  
  nav{
    background: #222;
    width: 100%;
    height: 100px;
  }
  nav:after{
    content: '';
    clear: both;
    display: table;
  }
  nav .logo{
    float: left;
    
    color: white;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    line-height: 100px;
    padding-left: 60px;
    
  }

  nav .logo:hover{
    color:  rgb(214, 174, 81);
    cursor: pointer;
   transition: ease-in;
   text-decoration: none;}
  nav ul{
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
  }
  nav ul li {
    float: left;
    display: inline-block;
    background: #222;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    line-height: 100px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 600;
  }
  nav ul li a:hover{
    color: rgb(214, 174, 81);
  }
  nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
  nav ul ul li a{
    line-height: 50px;
    text-decoration: none;
  }
  nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
  }
  .show,.icon,input{
    display: none;
  }
  .fa-plus{
    font-size: 15px;
    margin-left: 40px;
  }
  @media all and (max-width: 968px) {
    nav ul{
      margin-right: 0px;
      float: left;
    }
    nav .logo{
      padding-left: 30px;
      width: 100%;
    }
    .show + a, ul{
      display: none;
    }
    nav ul li,nav ul ul li{
      display: block;
      width: 100%;
    }
    .show{
      display: block;
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      padding: 0 20px;
      line-height: 70px;
      font-weight: 600;
      cursor: pointer;
    }
    .show:hover{
      color: crimson;
    }
    .icon{
      display: block;
      color: white;
      position: absolute;
      top: 0;
      right: 40px;
      line-height: 70px;
      cursor: pointer;
      font-size: 25px;
    }
    nav ul ul{
      top: 70px;
      border-top: 0px;
      float: none;
      position: static;
      display: none;
      opacity: 1;
      visibility: visible;
    }
    nav ul ul a{
      padding-left: 40px;
    }
    nav ul ul ul a{
      padding-left: 80px;
    }
    nav ul ul ul li{
      position: static;
    }
    [id^=btn]:checked + ul{
      display: block;
    }
    nav ul ul li{
      border-bottom: 0px;
    }
  }
  div img{
    width: 100%;
    height: 70%;
    position: relative;
    background-size: 100% 100%;
    z-index: -1;
    filter: blur(7px);
    background-repeat: no-repeat;
    background-position: center;
    
  }

.text{
  z-index: -1;
color: #ffffff;

  position: absolute;
  font-size: 20vw;
  bottom: 290px;
  left: 500px;
  word-spacing: 15px;
  

}



.button{
  z-index: 1;
  position: absolute;
 left: 250px;
 font-size: 17px;
  margin-top: 28px;
text-align: center;
  cursor: pointer;
 background-color: #000103;
color: rgb(240, 241, 241);
border:none; 
border-radius:10px; 
padding:15px;
min-height:30px; 
min-width: 120px;

}

.button a.button:hover{
  color: #f8fcff;
}
body{
	height: 100vh;
	width: 100%;
}

section {
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
